
.btnEstilo{

    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: none;
    background-color: none;
    border-radius: 6px;
    border: 2px solid none;
    height: 350px;
    
}

.btnEstilo:hover {
    color: none;
   background-color: none;
}

