<ion-grid>
  <ion-item>
    <ion-card>
      <ion-card-header>
        <img src="../../assets/img/homer.jpg">
        <ion-card-subtitle>
          Fecha Incidencia
        </ion-card-subtitle>
        <ion-card-title>Incidencia</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum culpa dignissimos excepturi saepe qui animi
          minus, doloribus, cum sequi magni iste? Non totam modi ipsum est vitae ex. Unde, asperiores.</p>
      </ion-card-content>
    </ion-card>

  </ion-item>
</ion-grid>